@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Arcade;
  src: url('../pages/fonts/ArcadeGamer.woff2');
}
body{
  background-color: rgb(248,255,0);
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
.Arcade {
  font-family: "Arcade", system-ui;
  font-weight: 400;
  font-style: normal;
}